#red {
    color: red;
}

#blue {
    color: blue;
}
#green {
    color: green;
}

#yellow {
    color: yellow;
}

#orange {
    color: orange;
}
h2 {
    font-weight: normal;
}

img {
    width: 200px;
    height: 200px;
}

.color-title {
    font-weight: bold;
}